@import 'typography';

$main-color : #149A9A;
$secondary-color : #F36F34;
$bg-list-color : #0CB4B3;
$border-color : #dadada;
$table-header-main-color: #B6B6B7;

$main-font: 'Catamaran';
$secondary-font: 'Calibri';

